<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EditPost</title>
        <link href="../css/main.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="content-wrap">
                <a class="btn-back" href="#">
                    <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"/></svg>
                </a>
                <h3 class="title-article-page vert-align">On the road again and now</h3>
                <a class="btn-header btn-edit" href="#">
                    <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 34.5V42h7.5l22.13-22.13-7.5-7.5L6 34.5zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z"/><path d="M0 0h48v48H0z" fill="none"/></svg>
                </a>
                <a class="btn-header remove-post" href="#">
                    <svg height="70" viewBox="0 0 70 70" width="70" xmlns="http://www.w3.org/2000/svg"><path d="M45.96 20.504L35 31.464l-10.96-10.96-3.536 3.536L31.464 35l-10.96 10.96 3.536 3.536L35 38.536l10.96 10.96 3.536-3.536L38.536 35l10.96-10.96"/></svg>
                </a>
            </div>
        </header>
        <div class="article-description">
            <div class="content-wrap">
                <p class="light-text">Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
                    Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation.
                    Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                    Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse.</p>
            </div>
        </div>
        <footer class="footer">
            <div class="content-wrap">
                <p class="copy text-center vert-align">© 2016 Masters Academy</p>
            </div>
        </footer>
    </body>
</html>