<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog</title>
        <link href="../css/main.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="content-wrap">
                <h1 class="title-page vert-align">Blog</h1>
                <a class="btn-header" href="#">
                    <svg height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg"><path d="M61 37H43V19h-6v18H19v6h18v18h6V43h18"/></svg>
                </a>
            </div>
        </header>
        <section class="stream-blog">
            <div class="content-wrap">
                <ul class="list-blog">
                    <li class="article">
                        <h3 class="name-article"><a href="#">On the road again and now</a></h3>
                        <p class="date-article">2 days ago</p>
                        <p class="light-text">Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia.</p>
                    </li>
                    <li class="article">
                        <h3 class="name-article"><a href="#">Coffee Pic</a></h3>
                        <p class="date-article">08 Sep 2015</p>
                        <p class="light-text">Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia.</p>
                    </li>
                </ul>
            </div>
        </section>
        <footer class="footer">
            <div class="content-wrap">
                <p class="copy text-center vert-align">© 2016 Masters Academy</p>
            </div>
        </footer>
    </body>
</html>