<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NewPost</title>
        <link href="../css/main.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="header new-article">
            <div class="content-wrap">
                <h2 class="title-page vert-align">New Post</h2>
                <a class="btn-header" href="#">
                    <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z"/></svg>
                </a>
            </div>
        </header>
        <div class="add-new-article">
            <div class="content-wrap">
                <form class="form-article">
                    <label class="name-field">
                        Title
                        <input type="text">
                    </label>
                    <label class="name-field">
                        Description
                        <textarea cols="30" rows="8"></textarea>
                    </label>
                </form>
            </div>
        </div>
        <footer class="footer">
            <div class="content-wrap">
                <p class="copy text-center vert-align">© 2016 Masters Academy</p>
            </div>
        </footer>
    </body>
</html>